body {
  /* Body Style */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f4511e;
}


.flex {
  /* Common css for flex */
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.flexContainer {
  /* Flex Container */
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flexContainer > a {
  /* Styling for container */
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.fa {
  /* Social Media icons common style */
  padding: 23px;
  display: flex;
  flex: wrap;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  /* To hover over image */
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}
.fa-foursquare {
  background: #45bbff;
  color: white;
}

.heroImage {
  /* Hero Image Style */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/taj-mahal-wallpapers-41.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav a:hover {
  /* To hover over image */
  color: orangered;
}

.topnav .icon {
  /* icon will visible when website screen shrink i.e for smaller devices */
  display: none;
  float: right;
}

.underheroSection{
  width:100%; 
  height:100%;
}

/* 4k+ display */
@media only screen and (max-width: 2652px) {
  .topnav a {
    font-family: 'Nunito Sans', sans-serif;
    float: left;
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
    letter-spacing: 2px;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .heroText {
    position: absolute;
    left: 40%;
    top: 43%;
    color: white;
    font-size: 110px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .flex>figure:hover{
    transform: scale(1.1);
  }
  


  .flex a {
    flex: calc(100 / 13);
    max-width: 45%;
  }
  .flex li {
    flex: 30%;
    float:none;
    color: white;
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .figure figure {
    flex: calc(90 / 3);
    max-width: 30%;
  }
  .heading {
    width: 100%;
    height: 10%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    font-size: 80px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }

  .imageSize {
    width: 570px;
    height: 570px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }

  .FixingtextboxSize {
    width: 32%;
  }
  .textboxSize {
    list-style: none;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .imagesCulture{
    width: 1240px;
    height: 1240px;
  }
  .detailAdding:hover{
    transform: scale(1.1);

  }
  .text{
    width:100%;
    text-align: center;
    height:5%;
    color: white;
    font-size: 62px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
    
    padding:0;
  }
  .copyrightStyle{
    width:100%;
    background-color:black;
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size: 30px;
  }
  
}

/* 4k display */
@media only screen and (max-width: 2560px) {
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 57px;
  }

  .heading {
    width: 100%;
    height: 10%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
    font-family:'Nunito Sans', sans-serif;
    background-color: white;
  }
  

  .heroText {
    position: absolute;
    left: 40%;
    top: 43%;
    color: white;
    font-size: 100px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 1200px;
    height: 1200px;
  }
  .imageSize {
    width: 560px;
    height: 560px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .FixingtextboxSize {
    width: 32%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .imagesCulture{
    width: 1200px;
    height: 1200px;
  }
  .copyrightStyle{
    width:100%;
    background-color:black;
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size: 30px;
  }
  .flex li {
    flex: 30%;
    float:none;
    color: white;
    font-size: 38px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
}
/* large Laptop size */
@media only screen and (max-width: 1440px) {
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .heading {
    width: 100%;
    height: 10%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }

  .heroText {
    position: absolute;
    left: 40%;
    top: 43%;
    color: white;
    font-size: 55px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imageSize {
    width: 255px;
    height: 280px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .FixingtextboxSize {
    width: 31%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 30%;
    color: white;
    font-size: 27px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 595px;
    height: 640px;
  }
  .copyrightStyle{
    width:100%;
    background-color:black;
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size: 35px;
  }

}

/* laptop display medium */
@media only screen and (max-width: 1024px) {
 
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .heading {
    width: 100%;
    height: 10%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }

  .heroText {
    position: absolute;
    left: 40%;
    top: 43%;
    color: white;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .flex a {
    flex: 20%;
    max-width: 45%;
  }
  .imageSize {
    width: 410px;
    height: 171 px;
  }

  .imageSize:hover {
    transform: scale(1.1);
    border: "10";
  }
  .FixingtextboxSize {
    width: 30%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 30%;
    color: white;
    float:none;
    font-size: 20px;
    margin: 0;
    letter-spacing: 3px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 432px;
    height: 432px;
  }
}

/* tablet display */
@media only screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .faPosition {
    position: fixed;
    left: 700px;
    padding: 0;
    margin: 0;
  }
  .heroText {
    position: absolute;
    left: 40%;
    top: 43%;
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .flex a {
    flex: 20%;
    max-width: 44%;
  }
  .imageSize {
    width: 300px;
    height: 300px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .FixingtextboxSize {
    width: 29%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 40%;
    color: white;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 700px;
    height: 700px;
  }
}
/* large mobile display */
@media only screen and (max-width: 425px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .heroText {
    position: absolute;
    left: 33%;
    top: 43%;
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .faPosition {
    position: fixed;
    left: 350px;
    padding: 0;
    margin: 0;
  }
  .heading {
    width: 100%;
    height: 8%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }
  .flex a {
    flex: 50%;
    max-width: 38%;
  }
  .imageSize {
    width: 130px;
    height: 130px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .FixingtextboxSize {
    width: 100%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 30%;
    float:none;
    color: white;
    font-size: 23px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 360px;
    height: 250px;
  }
}

/* Medium mobile display */
@media only screen and (max-width: 375px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .heading {
    width: 100%;
    height: 8%;
    color: orangered;
    letter-spacing: 10px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }

  .heroText {
    position: absolute;
    left: 30%;
    top: 43%;
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .faPosition {
    position: fixed;
    left: 310px;
    padding: 0;
    margin: 0;
  }

  .flex a {
    flex: 50%;
    max-width: 36%;
  }
  .imageSize {
    width: 310px;
    height: 310px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .FixingtextboxSize {
    width: 100%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 30%;
    color: white;
    font-size: 23px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 300px;
    height: 300px;
  }
}

/* Small mobile dislay */
@media only screen and (max-width: 320px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .faPosition {
    position: fixed;
    left: 250px;
    padding: 0;
    margin: 0;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .heroText {
    position: absolute;
    left: 27%;
    top: 43%;
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .flex a {
    flex: 50%;
    max-width: 33%;
  }
  .imageSize {
    width: 250px;
    height: 250px;
  }

  .imageSize:hover {
    transform: scale(1.1);
  }
  .heading {
    width: 100%;
    height: 15%;
    color: orangered;
    letter-spacing: 15px;
    margin: 0;
    font-size: 27px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }
  .FixingtextboxSize {
    width: 100%;
  }
  .textboxSize {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .flex li {
    flex: 30%;
    color: white;
    font-size: 23px;
    margin: 0;
    letter-spacing: 2px;
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .imagesCulture{
    width: 250px;
    height: 250px;
  }
}
